* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: rgba(80, 28, 100, 0.7);
    backdrop-filter: blur(15px);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
  }
  
  nav a:hover {
    transition: 0.5s;
    color: rgb(150, 60, 255);
    text-shadow: #13152b;
    text-decoration: none;
    font-size: 20px;
  }
  
.header {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }

.box{
  width: 70%;
  justify-content: center;
  display: flex;
  
}
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav a:hover {
    transition: 0.5s;
    color: yellow;
    text-decoration: none;
    font-size: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    line-height: 100px;
    font-size: 24px;
    cursor: pointer;
}
.matched {
    background-color: lightgreen;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
table {
  text-align: center;
  border-collapse: collapse;
  width:100%;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #4CAF50;
  color: white;
}