<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/Club.css" />
    <link rel="icon" href="/image/icon-football.jpeg" />
    <title>Clubs</title>
  </head>
  <body>
    <header>
        
      <div class="logo">
        <a href="/home">
        <img
         src="../static/imges/PL-Right-image.png"
         alt="ball"
         height="50px"
         width="60px"
        />
        </a>
        <strong>Football League</strong>
      </div>
      <nav>
        <ul>
          <li><a href="/players">Players</a></li>
          <li><a href="#">Clubs</a></li>
          <li><a href="/matches">Matches</a></li>
          <li><a href="/league">League</a></li>
        </ul>
      </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="grid-container">
        <a href="/club-info?team=Arsenal">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Arsenal.png" alt="Arsenal">
              <h3>Arsenal</h3>
          </div>
        </a>
        <a href="/club-info?team=Aston Villa">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Aston Villa.png" alt="Aston Villa">
              <h3>Aston Villa</h3>
          </div>
        </a>
        <a href="/club-info?team=Bournemouth">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Bournemouth.png" alt="Bournemouth">
              <h3>Bournemouth</h3>
          </div>
        </a>
        <a href="/club-info?team=Brentford">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Brentford.png" alt="Brentford">
              <h3>Brentford</h3>
          </div>
        </a>
        <a href="/club-info?team=Brighton & Hove Albion">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Brighton.png" alt="Brighton & Hove Albion">
              <h3>Brighton & Hove Albion</h3>
          </div>
        </a>
        <a href="/club-info?team=Chelsea">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Chelsea.png" alt="Chelsea">
              <h3>Chelsea</h3>
          </div>
        </a>
        <a href="/club-info?team=Crystal Palace">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Crystal Palace.png" alt="Crystal Palace">
              <h3>Crystal Palace</h3>
          </div>
        </a>
        <a href="/club-info?team=Everton">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Everton.png" alt="Everton">
              <h3>Everton</h3>
          </div>
        </a>
        <a href="/club-info?team=Fulham">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Fulham.png" alt="Fulham">
              <h3>Fulham</h3>
          </div>
        </a>
        <a href="/club-info?team=Leeds United">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Ipswich Town.png" alt="Ipswich Town">
              <h3>Leeds United</h3>
          </div>
        </a>
        <a href="/club-info?team=Leicester City">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Leicester.png" alt="Leicester City">
              <h3>Leicester City</h3>
          </div>
        </a>
        <a href="/club-info?team=Liverpool">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Liverpool.png" alt="Liverpool">
              <h3>Liverpool</h3>
          </div>
        </a>
        <a href="/club-info?team=Manchester City">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Man City.png" alt="Manchester City">
              <h3>Manchester City</h3>
          </div>
        </a>
        <a href="/club-info?team=Manchester United">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Man United.png" alt="Manchester United">
              <h3>Manchester United</h3>
          </div>
        </a>
        <a href="/club-info?team=Newcastle United">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Newcastle.png" alt="Newcastle United">
              <h3>Newcastle United</h3>
          </div>
        </a>
        <a href="/club-info?team=Nottingham Forest">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Nottingham Forest.png" alt="Nottingham Forest">
              <h3>Nottingham Forest</h3>
          </div>
        </a>
        <a href="/club-info?team=Sheffield United">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Southampton.png" alt="Southampton">
              <h3>Sheffield United</h3>
          </div>
        </a>
        <a href="/club-info?team=Tottenham Hotspur">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Tottenham.png" alt="Tottenham Hotspur">
              <h3>Tottenham Hotspur</h3>
          </div>
        </a>
        <a href="/club-info?team=West Ham United">
          <div class="team-card">
              <img src="../static/imges/clubslogos/West Ham.png" alt="Tottenham Hotspur">
              <h3>WestHam United</h3>
          </div>
        </a>
        <a href="/club-info?team=Wolverhampton Wanderers">
          <div class="team-card">
              <img src="../static/imges/clubslogos/Wolves.png" alt="Tottenham Hotspur">
              <h3>Wolverhampton Wanderers</h3>
          </div>
        </a>
    </div>
  </body>
</html>
