<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Football</title>
</head>
<body>
    <div class="head">
        <img src="../static/imges/logo.png" alt="">
        <div class="links">
            <a href="#">Home</a>
            <a href="#">Clubs</a>
            <a href="#">Players</a>
            <a href="#">League</a>
        </div>
    </div>
</body>
</html>