<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="../static/css/info-player.css">
   <link rel="icon" href="image/icon-football.jpeg">
    <title>Information player</title>
</head>
<body >
    <header>
        <a href="/index.html">
        <div class="logo">
          <img
           src="../static/imges/PL-Right-image.png"
           alt="ball"
           height="50px"
           width="60px"
          />
        </a>
          <strong>Football League</strong>
        </div>
        <nav>
          <ul>
            <li><a href="/players">Players</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/matches">Matches</a></li>
            <li><a href="/league">League</a></li>
          </ul>
        </nav>
      </header>
      <br><br><br><br><br><br>
      <div class="body">
        <div class="player-card">
          <div class="player-basic">
          </div>
          <div class="player-details">
            <div class="details-text">
              <h3>player: {{ player.pname }}</h3>
              <p>Number: {{ player.pnum }}</p>
              <p>Rating: {{ player.rating }}</p>
              <p>Position: {{ player.position }}</p>
              <p>Nationality: {{ player.origin }}</p>
              <p>Salary: {{ player.salary }}</p>
              <p>Marketvalue: {{ player.marketvalue }}</p>
              <p>Age: {{ player.age }}</p>
              <p>Club: {{ player.Cname }}</p>

            </div>
          </div>
        </div>
      </div>
      
</body>
</html>